@charset "UTF-8";
/*あとで消す（下）*/
:root{
    --background: white;
    --background-shadow: #b0b0b0;
    --section-background-shadow: #d0d0d0;
    --text: #000000;
    --text-white: #fafafa;
    --corp-color: rgb(10, 90, 140);
    --corp-white: #fafafa;
    --dark-gray: #111111;
    --gray: gray;
    --light-gray: lightgray;
}
.content_inner{
    background-color: bisque;
    padding-left:20px;
    padding-right:20px;

}
.float_area{
    background-color: lightsalmon;
}

.float__image{
    background-color: red;
}
.float__body{
    background-color: pink;
}

.header-section-low__title{
    background-color: var(--corp-color);
    color: var(--text-white);
    position: relative;
    padding: 20px 0;
    padding-top: 15px;
    margin: 0;
    width: 100%;
    font-size: 30px;
    text-align: center;
    border-radius: 15px;
}
.header-section-low__title:before {
    content:"";
    position: absolute;
    left: calc(50%);
    transform:  translateX(-50%);
    bottom: 18px;
    display: inline-block;
    width: 100px;
    height: 4px;
    background-color: var(--text-white);
    border-radius: 5px;
}

img{
max-width:100%;
height:auto;
}

.float_area {
  display: flex;
  flex-wrap: wrap; /* 狭いときは折り返し */
  gap: 1rem; /* 画像と本文の間隔 */
  align-items: flex-start; /* 上揃え */
}

.float__image {
  flex: 0 0 500px; /* 幅200px固定 */
}
.float__image img {
  
  width: auto; /* 枠に収まるように */
  height: 100%; /* 比率維持 */
}

.float__body {
    width: 100%;
    flex: 1; /* 本文は残り幅いっぱい */
}

/* 幅が狭いときは縦並び */
@media (max-width: 950px) {
  .float_area {
    flex-direction: column;
  }

  .float__image {
    text-align: center;
    flex: none; /* 縦並び時は制約を解除 */
    height: 250px; /* 画像サイズは維持 */
    width: 100%;

    margin: 0 auto; /* 中央寄せ */
  }
}
