@charset "UTF-8";

.stndrd-tbl {
    width: 400px;
    margin: 10px 10px;
    
    /*border: 1px solid gray;*/
    box-shadow: 0 0 10px 1px var(--background-shadow);
    border-radius: 10px;
    background-color: #f0f0f0;
    border-spacing: 8px;
}

.stndrd-tbl img {
    width: 20vw;
    object-fit: cover;
}
.stndrd-tbl th {
    position: relative;
    border-radius: 8px;
    background-color: var(--corp-color);
    color: var(--corp-white);
    padding:10px;
    padding-bottom: 15px;
}

.stndrd-tbl th .underbar:before {
    position:absolute;
    content: "";
    left: calc(50%);
    transform: translateX(-50%);
    bottom: 8px;
    display: inline-block;
    width: 50%;
    height: 4px;
    background-color: var(--corp-white);
    border-radius: 5px;
}

.stndrd-tbl td {
    width: 100px;
    padding: 10px;
}

.stndrd-tbl .ta-c {
    text-align: center;
}

.stndrd-tbl .ta-l {
    text-align: left;
}