<!DOCTYPE html>
<html lang="ja">
    <!--これは古いやつ。非推奨（はよ消せ）-->
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=450">
        <meta name="discription" content="説明">
        <link rel="stylesheet" href="/common.css">
        <link rel="stylesheet" href="/wiki.css">
        <script src="/script.js"></script>
        <title>(タイトル。タブに表示される)：宗弥急行プロジェクト</title>
    </head>
    <body>
        <header id="header"></header>
        <main>
            <section class="main_contents">
                <table>
                    <tr>
                        <th colspan="2" id="main">車両名</th>
                    </tr>
                    <tr>
                        <th colspan="2" id="main"><a href="img/thumbnail.png"><img src="img/thumbnail.png"></a></th>
                    </tr>
                    <tr>
                        <th colspan="2" id="main">概要</th>
                    </tr>
                    <tr>
                        <th>定員</th>
                        <td>2人</td>
                    </tr>
                    <tr>
                        <th colspan="2" id="main">寸法</th>
                    </tr>
                </table>
                <div class="text_contents">
                    <h2>概要</h2>
                    <div class="text">text</div>
                    <h2>ギャラリー</h2>
                    <div id="picture">
                        <ul>
                            <li>
                                <a href="img/interior.png">
                                    <img src="img/interior.png">
                                    <p>インテリア</p>
                                </a>
                            </li>
                            <li>
                                <a href="img/cargospace.png">
                                    <img src="img/cargospace.png">
                                    <p>トランク</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
        </main>
        <footer>
            <section id="footer"></section>
            <div class="footer_copyright_area">
                <p>Copyright &copy; 2022-2025  Nanaha Asme, Nona Takahara  All Rights Reserved.</p>
            </div>
        </footer>
    </body>
</html>